/* UNIVERSAL */
hr {
    border: 1px solid #999;
}

/* ANIMATE CSS */
.navbar {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.navbar-nav {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
header {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.profile-picture {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
header h2 {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
header p {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

/* NAVIGATION */
.navbar-default {
	background-color: #a71d31;
    margin-bottom: 0;
    border: none;
}
.logo {
	width: 80px;
	height: 80px;
	padding: 10px 15px;
	background-color: #393e41;
}
.navbar-brand,.navbar-nav li a {
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	margin-left: 1px;
	background-color: #a71d31;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3em;
	color: #cacfd6;
	border-right: 1px solid #642c35;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.1);
	box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.1);
}
.navbar-brand {
    padding-right: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff; background-color: #841829
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #841829;
}
.navbar-default .navbar-toggle { 
    margin-top: 23px;
    border-color: #642c35;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #642c35;
}

/* SOCIAL ICONS */
li.twitter a {
    width: 80px;
    background-color: #5ea9dd;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    box-shadow: none;
    border-right: none;
}
li.facebook a {
    width: 80px;
    background-color: #3765a3;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    box-shadow: none;
    border-right: none;
}
li.twitter a:hover,
li.facebook a:hover {
    opacity: 0.8;
}

/* HEADER */
header {
    height: 700px;
    padding-top: 100px;
    text-align: center;
    background-color: #5171a5;
    background: url(../img/pano.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-family: 'Ubuntu Mono';
}
.profile-picture {
    border: 10px solid #cacfd6;
    -webkit-box-shadow: 0px 15px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 35px 5px rgba(0,0,0,0.75);
}
header h2 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 3.5em;
}
header p {
    padding: 0 20px;
    font-size: 2em;
}

/* MAIN CONTENT */
.main-content {
    padding: 30px 100px;
    font-family: 'Ubuntu Mono';
}
.main-content h3 {
    padding: 10px 30px;
    margin-bottom: 40px;
    display: inline-block;
    border: 5px solid #a71d31;
    border-radius: 5px;
    color: #a71d31;
    font-weight: bold;
    font-size: 2.5em;
}
.main-content h4 {
    margin-top: 0;
    color: #393e41;
    font-size: 2.3em;
}
.main-content h4 small {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #777;
    color: #777;
    font-size: 0.7em;
}
.main-content p {
    color: #777;
    font-size: 1.3em;
}

/* BLOG */
.main-content .post {
    text-align: center;
}
.main-content .post h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #393e41;
}

/* CONTACT INFO */
.contact .row {
    padding-top: 20px;
}
input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: 5px solid #cacfd6;
    border-radius: 5px;
    color: #cacfd6;
    font-size: 1.7em;
}
input:focus {
    border: 3px solid #393e41;
    box-shadow: 0 0 5px 1px #393e41;
}
.message {
    height: 220px;
    padding-bottom: 170px;
}
.send {
    width: 200px;
    background-color: #fff;
}
.send:hover {
    color: #393e41;
    border-color: #393e41;
}
.quick-info i {
    position: absolute;
    left: 0;
    padding-top: 2px;
}
.quick-info p {
    padding-left: 10px;
    color: #cacfd6;
}

/* FOOTER */
footer {
    width: 100%;
    height: 200px;
    padding-top: 90px;
    background-color: #a71d31;
    font-family: 'Ubuntu Mono';
}
.pull-left {
    color: #fff;
    font-size: 1.5em;
}
.pull-right {
    color: #cacfd6;
    font-size: 1.2em;
}
.pull-right a {
    color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        border-bottom: 1px solid #642c35;
    }
    .quick-info i {
        padding-left: 15px;
    }
    .quick-info p {
        padding-left: 25px;
    }
    header h2 {
        margin-top: 50px;
        font-weight: bold;
        font-size: 3em;
    }
    header p {
        padding: 0 20px;
        font-size: 1.5em;
    }
}