/*=============================================================================
    ===CSS DIRECTORY===
    1. =GLOBAL
	2. =PRIMARY
	3. =NAVIGATION
	4. =FOOTER
	5. =QUOTES
    6. =IMAGES
    7. =RESUME
    8. =PROJECTS
    9. =BLOG
=============================================================================*/

/*=============================================================================
    ===GLOBAL===
=============================================================================*/

html {
    font-family: Verdana,Tahoma,sans-serif;
}

/*=============================================================================
    ===PRIMARY===
=============================================================================*/

/* main contents of each page */
body {
    /* margin from screen top */
    margin: 40px auto;
    /* fill only 80% of age width */
    width: 80%;
}

.container {
    padding-bottom: 40px;
}

h1 {
    font-size: 3em;
}

/* paragraph font size, spacing between lines, color */
p {
    font-size: x-large;
    line-height: 1.5em;
    color: #333;
}

/* no text decoration for links, color */
a {
    text-decoration: none;
    color: gray;
}

/* underline links when mouse hovers */
a:hover {
    text-decoration: underline;
}

/* justify text */
.blurb, .about, .post {
    text-align: justify;
}

/* control width of images, transition when hover */
.gallery a img {
    display: inline-block;
    width: 20%;
    padding: 0.3em;
    border-radius: 10%;
    background-color: #fff;
    transition: background-color 0.5s ease-out;
}

/* change backgroud color on hover */
.gallery a img:hover {
    background-color: #333;
    transition: none;
}

#profile-pict {
    border-radius: 50%;
    margin-bottom: 0.5em;
    height: 20em;
}

/* center tagline on about page */
#about-tagline {
    text-align: center;
}

/*=============================================================================
    ===NAVIGATION===
=============================================================================*/

/* personal logo */
#logo {
    height: 3em;
    border-radius: 20%;
    border-style: solid;
    color: rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#logo:hover {
    color: rgba(0, 0, 0, 1);
}

/* remove bullets and bold header */
nav ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: x-large;
}

/* single row of list items, align text to vertical center of logo, space out list items */
nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5em;
}

/*=============================================================================
    ===FOOTER===
=============================================================================*/

/* line above contact info. font size */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* bold footer and remove bullets */
footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}

/* single row of list items, space out list items */
footer ul li {
    display: inline-block;
    margin-right: 1.5em;
}

/*=============================================================================
    ===QUOTES===
=============================================================================*/

/* formatting for quotes */
.quote blockquote {
    line-height: 1.5em;
    font-size: large;
    color: #333;
}

/*=============================================================================
    ===IMAGES===
=============================================================================*/

/* formatting for captioned pictures */
.image-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.image-wrapper img {
    display: block;
    margin: auto;
    width: 70%;
}

.image-caption {
    text-align: center;
    margin-top: 1em;
    font-size: large;
    color: gray;
}

/*=============================================================================
    ===RESUME===
=============================================================================*/

/* styling for embedded resume */
.resume embed {
    display: block;
    width: 60%;
    margin: auto;
}

/*=============================================================================
    ===PROJECTS===
=============================================================================*/

.project {
    display: block;
    margin: 5em auto 5em auto;
    height: 20em;
    text-align: center;
}

/*=============================================================================
    ===BLOG===
=============================================================================*/

/*  formatting for blog index */
ul.posts {
    margin: 20px auto 40px;
    font-size: x-large;
}

/* remove bullets from list of blog posts */
ul.posts li {
    list-style: none;
}

/* formatting for lists in posts */
.post ul, .post ol {
    font-size: larger
}
