html {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    margin: 40px auto; /* margin from screen top */
    width: 80%;        /* fill only 80% of age width */
}

nav ul { /* remove bullets and bold header */
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: x-large;
}

footer ul { /* remove bullets and bold footer */
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}

nav ul li, footer ul li {
    display: inline;    /* display list items in single row */
    margin-right: 40px; /* spacing between list items */
}

a {
    text-decoration: none; /* no text decoration for links */
    color: grey;
}

a:hover {
    text-decoration: underline; /* underline links when mouse hovers */
}

h1 {
    font-size: 3em;
}

p {
    font-size: x-large;
    line-height: 1.4em; /* spacing between lines */
    color: #333;
}
/* formatting for quotes */
.quote {
    font-size: large;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
/*  formatting for blog index */
ul.posts {
    margin: 20px auto 40px;
    font-size: x-large;
}

ul.posts li {
    list-style: none;
}
/* formatting for individuals posts */
div.post ul li {
    font-size: larger;
}
/* formatting for captioned pictures */
.image-wrapper img {
    display: block;
    margin: auto;
    width: 70%;
}
.image-caption {
    text-align: center;
    margin-top: 1em;
    font-size: large;
    color: grey;
}
