---
layout: default
title: projects
---

<div class="projects">
    <h1>{{ page.title }}</h1>
    {% include project.html
        img="/projects/dwb.png"
        title="DWB Screenshot"
        url="https://github.com/ESWDigitalWasteBins/DigitalWasteBins"
        caption="ESW Digital Waste Bins"
        date="03/05/2017 - ongoing" %}
    {% include project.html
        img="/projects/replay!.png"
        title="REPL▶Y! Screenshot"
        url="https://devpost.com/software/mloop"
        caption="REPL▶Y! web app developed at HACKUCI"
        date="01/13/2017 - 01/15/2017" %}
</div>
