{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "@material-ui/*/*/*",
          "!@material-ui/core/test-utils/*"
        ]
      }
    ]
  }
}
