---
layout: default
title: gallery
---

<div class="gallery">
    <h1> {{ page.title }}</h1>
    <h2>travel</h2>
    <div class="gallery-content">
    {% for image in site.static_files %}
        {% if image.path contains "assets/img/travel"%}
        {% assign title = image.name | split: '.' | first | downcase %}
        <a href="{{ site.url }}{{ image.path }}" data-lightbox="travel" data-title="{{ title }}"><img src="{{ site.url }}{{ image.path }}" alt="{{ image.name }}" onerror="this.onerror=null;this.src='/assets/img/image-not-found.png';"/></a>
        {% endif %}
    {% endfor %}
    </div>
    <h2>blog</h2>
    <div class="gallery-content">
    {% for image in site.static_files %}
        {% if image.path contains "assets/img/blog"%}
        {% assign title = image.name | split: '.' | first | downcase %}
        <a href="{{ image.path }}" data-lightbox="blog" data-title="{{ title }}"><img src="{{ image.path }}" alt="{{ image.name }}" onerror="this.onerror=null;this.src='/assets/img/image-not-found.png';"/></a>
        {% endif %}
    {% endfor %}
    </div>
    <script>
        lightbox.option({
            "fadeDuration" : 300,
            "resizeDuration": 500,
            "wrapAround": true
        })
    </script>
</div>
