<!-- _includes/image.html -->

<!--
Liquid Variables
img: path to image file (ex. /assets/image.jpg)
title: alt text for image
url (opt): url the image will point to
caption: the text to display below the image
-->

<div class="image-wrapper" >
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="/assets/img/{{ include.img }}" alt="{{ include.title }}" onerror="this.onerror=null;this.src='/assets/img/image-not-found.png';"/>
        {% if include.caption %}
        <div class="image-caption">{{ include.caption }}</div>
        {% endif %}
    {% if include.url %}</a>{% endif %}
</div>
