<!-- _includes/image.html -->

    <!--
    Liquid Variables
    img: path to image file (ex. /assets/image.jpg)
    title: alt text for image
    url (opt): url the image will point to
    caption: the text to display below the image
    -->

<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css" />

<div class="image-wrapper" >
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ site.url }}/{{ include.img }}"
            alt="{{ include.title }}"
            />
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption"
            style="text-align: center; font-size: 1em; color: grey; margin-top: 1em">
            {{ include.caption }}</p>
    {% endif %}
</div>
