<!-- _includes/project.html -->

<div class="project-wrapper">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img class="project-image" src="/assets/img/{{ include.img }}" alt="{{ include.title }}" onerror="this.onerror=null;this.src='/assets/img/image-not-found.png';"/>
        {% if include.caption %}
        <div class="project-overlay">
            <div class="project-caption">
                {{ include.caption }}
                {% if include.date %}
                <span style="white-space: nowrap;"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ include.date }}</span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% if include.url %}</a>{% endif %}
</div>
