@use 'gallery/lazy';

section.gallery {
  padding-right: 0;
  padding-left: 0;
  max-width: 1536px;

  @media (min-width: 640px) {
    padding-right: 1.5rem /* 24px */;
    padding-left: 1.5rem /* 24px */;
  }
}


.gallery-item {
  cursor: zoom-in;
}

.gallery-item > figure {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
}
