/*=============================================================================
    ===CSS DIRECTORY===
    1. =GLOBAL
	2. =PRIMARY
	3. =NAVIGATION
	4. =FOOTER
	5. =QUOTES
    6. =IMAGES
    7. =RESUME
    8. =PROJECTS
    9. =BLOG
=============================================================================*/

/*
COLORS:
Primary: #b71c1c
Light: #f05545
Dark: #7f0000
Primary Text: #ffffff
Secondary: #ffffff
Secondary Text: #000000
*/

/*=============================================================================
    ===COLORS===
=============================================================================*/
:root {
    --primary-color: #b71c1c;
    --light-color: #f05545;
    --dark-color: #7f0000;
    --primary-text-color: #ffffff;
    --secondary-color: #ffffff;
    --secondary-text-color: #000000;
    --project-background-color: #cee0dc;
}


/*=============================================================================
    ===GLOBAL===
=============================================================================*/

html {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/*=============================================================================
    ===PRIMARY===
=============================================================================*/

/* main contents of each page */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--secondary-color);
}

.container {
    margin: auto;
    padding: 3% 0;
    width: 80%;
}

h1 {
    margin: 0;
    font-size: 3em;
}

/* paragraph font size, spacing between lines, color */
p {
    font-size: x-large;
    line-height: 1.5em;
    color: var(--secondary-text-color);
}

/* no text decoration for links, color */
a {
    text-decoration: none;
    color: var(--dark-color);
    transition-duration: 0.2s;
}

a:hover {
    color: var(--light-color);
}

/* justify text */
.home, .about, .post, .contact {
    text-align: justify;
}

/* control width of images, transition when hover */
.gallery a img {
    display: inline-block;
    width: 20%;
    padding: 0.3em;
    border-radius: 10%;
    background-color: #fff;
    transition: background-color 0.5s ease-out;
}

/* change backgroud color on hover */
.gallery a img:hover {
    background-color: #333;
    transition: none;
}

#profile-pict {
    border-radius: 50%;
    margin-bottom: 0.5em;
    max-width: 600px;
    width: 100%
}

/* center tagline on about page */
#about-tagline {
    text-align: center;
}

/*=============================================================================
    ===NAVIGATION===
=============================================================================*/

/* personal logo */
/*#logo {
    height: 100%;
    border-radius: 20%;
    border-style: solid;
    color: rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#logo-wrapper {
    display: inline;
    padding: 0.5em;
}*/

/*#logo:hover {
    color: rgba(0, 0, 0, 1);
}*/

/* remove bullets and bold header */
/*nav ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: x-large;
}*/

/* single row of list items, align text to vertical center of logo, space out list items */
/*nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5em;
}*/

nav {
    padding: 0;
    overflow: hidden;
    /*font-weight: bold;*/
    background-color: var(--primary-color);
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: x-large;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    color: var(--primary-text-color);
    transition-duration: 0.2s;
}

nav ul li a:hover {
    color: var(--primary-text-color);
    background-color: var(--dark-color);
}

nav ul li.right {
    float: right;
}

/*=============================================================================
    ===FOOTER===
=============================================================================*/

/* line above contact info. font size */
footer {
    margin-bottom: 2em;
    border-top: 1px solid var(--dark-color);
}

footer p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    line-height: normal;
}

/* bold footer and remove bullets */
footer ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: medium;
}

/* single row of list items, space out list items */
footer ul li {
    display: inline;
}

footer ul li a {
    margin: 0.5em 1em;
    text-align: center;
}

/*=============================================================================
    ===QUOTES===
=============================================================================*/

/* formatting for quotes */
.quote blockquote {
    line-height: 1.5em;
    font-size: large;
    color: #333;
}

/*=============================================================================
    ===IMAGES===
=============================================================================*/

/* formatting for captioned pictures */
.image-wrapper {
    display: block;
    margin: 1em auto;
    text-align: center;
}

.image-wrapper img {
    width: 70%;
}

.image-caption {
    font-size: large;
}

/*=============================================================================
    ===RESUME===
=============================================================================*/

/* styling for embedded resume */
.resume embed {
    display: block;
    margin: auto;
}

/*=============================================================================
    ===PROJECTS===
=============================================================================*/

.projects img {
    border-radius: 1em;
}

/*=============================================================================
    ===BLOG===
=============================================================================*/

/*  formatting for blog index */
ul.posts {
    margin: 20px auto 40px;
    font-size: x-large;
}

/* remove bullets from list of blog posts */
ul.posts li {
    list-style: none;
}

/* formatting for lists in posts */
.post ul, .post ol {
    font-size: larger
}

/*=============================================================================
    ===MEDIA===
=============================================================================*/

.fa-envelope, .fa-linkedin-square, .fa-github-alt {
    padding: 0.5em;
    color: var(--secondary-text-color)
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    nav ul li.right, nav ul li, footer ul li {
        float: none;
    }
}
