/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */

.navbar-brand {
    padding: 0;
    margin: auto;
    text-align: center;
    width: 48px;
    height: 48px;
    background-color: white;
}

.navbar-brand a {
    font-size: 2rem;
    font-family: Courier, monospace;
    font-weight: bolder;
    text-transform: lowercase;
    text-decoration: none;
}

.section {
    height: 100vh;
    padding-top: 56px;
    overflow: hidden;
}

.rotate {
    transform-origin: left;
    height: fit-content;
    /* Default */
    transform: rotate(-90deg) translate(-80vh, 50%);
    /* Safari */
    -webkit-transform: rotate(-90deg) translate(-80vh, 50%);
    /* Firefox */
    -moz-transform: rotate(-90deg) translate(-80vh, 50%);
    /* IE */
    -ms-transform: rotate(-90deg) translate(-80vh, 50%);
    /* Opera */
    -o-transform: rotate(-90deg) translate(-80vh, 50%);
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 99;
    font-size: 2rem;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .navbar-brand {
        margin-right: 1rem;
    }
    .nav-link {
        font-size: 1.25rem;
    }
    .section {
        padding-top: 62px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .nav-link {
        font-size: 1.5rem;
    }
    .section {
        padding-top: 68px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
