<!DOCTYPE html>

<html lang={{ site.locale }}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Brian Tom's personal website for hosting projects, blogging, and photography." />
        <meta name="keywords" content="Brian,Tom,about,me,blog,projects,photography,contact" />
        <meta name="author" content="Brian Tom" />
        <title>{{ page.title }} | brian tom</title>
        <!-- wesite icon -->
        <link rel="icon" type="image/png" href="/assets/img/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/assets/img/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="manifest" href="/assets/img/icons/manifest.json" />
        <link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/assets/img/icons/favicon.ico" />
        <meta name="msapplication-config" content="/assets/img/icons/browserconfig.xml" />
        <meta name="theme-color" content="#b71c1c" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- main stylesheet -->
        <link defer rel="stylesheet" type="text/css" href="/assets/css/main.min.css" />
        <!--  syntax stylesheet -->
        <link defer rel="stylesheet" type="text/css" href="/assets/css/syntax.min.css" />
        <!-- lighbox stylesheet -->
        <link defer rel="stylesheet" href="/assets/css/lightbox.min.css" />
        <!-- jQuery -->
        <script async src="https://use.fontawesome.com/4d64bf1812.js"></script>
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- javascript for lightbox -->
        <script defer src="/assets/js/lightbox.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <div class="left">
                    <li><div id="logo"><a href="/"><img src="/assets/img/icons/android-chrome-192x192.png" alt="bt_logo"></a></div></li>
                    <li><a href="/about">about me</a></li>
                    <!-- <li><a href="/resume">resume</a></li> -->
                    <li><a href="/projects">projects</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/gallery">gallery</a></li>
                </div>
                <div class="right">
                    <li><a href="/contact">contact</a></li>
                </div>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <div class="contact-me">
                <ul>
                    <div class="left">
                        <li style="margin: 0.35em 1em; font-weight: bold;"><a href="/contact">contact me</a></li>
                        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i>email</a></li>
                    </div>
                    <div class="right">
                        <li><a href="https://www.linkedin.com/in/{{ site.linked_username }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i>{{ site.linked_username }}</a></li>
                        <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-alt" aria-hidden="true"></i>{{ site.github_username }}</a></li>
                        <li><a href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></i>RSS</a></li>
                    </div>
                </ul>
            </div>
            <p style="margin: 1em 1em; text-align: center; font-size: small;"><i>updated: {{ site.time | date_to_long_string }}</i></p>
        </footer>
    </body>
</html>
