<!DOCTYPE html>
<html lang="{{ site.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta content="Brian Tom's personal website for hosting projects, blogging, and photography." name="description">
        <meta content="Brian,Tom,about,me,blog,projects,photography,contact" name="keywords">
        <meta content="Brian Tom" name="author">
        <title>{{ page.title }} | brian tom</title>
        <link href="/assets/img/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="/assets/img/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="/assets/img/icons/manifest.json" rel="manifest">
        <link color="#5bbad5" href="/assets/img/icons/safari-pinned-tab.svg" rel="mask-icon">
        <link href="/assets/img/icons/favicon.ico" rel="shortcut icon">
        <meta content="/assets/img/icons/browserconfig.xml" name="msapplication-config">
        <meta content="#b71c1c" name="theme-color">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- main stylesheet -->
        <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
        <!-- font stylesheet -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans%7CRoboto" rel="stylesheet">
        <!--  syntax stylesheet -->
        <link href="/assets/css/syntax.min.css" rel="stylesheet" type="text/css">
        <!-- PhotoSwipe stylesheet -->
        <link href="/assets/css/photoswipe.min.css" rel="stylesheet">
        <link href="/assets/css/default-skin.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async src="https://use.fontawesome.com/4d64bf1812.js"></script>
        <script src="/assets/js/photoswipe.min.js"></script>
        <script src="/assets/js/photoswipe-ui-default.min.js"></script>
        <script src="/assets/js/main.min.js"></script>
    </head>
    <body>
        <nav>
            <div>
                <div class="left">
                    <ul>
                        <li>
                            <div id="logo">
                                <a href="/"><img alt="bt_logo" src="/assets/img/icons/android-chrome-192x192.png"></a>
                            </div>
                        </li>
                        <li>
                            <a href="/about">about me</a>
                        </li>
                        <!-- <li><a href="/resume">resume</a></li> -->
                        <li>
                            <a href="/projects">projects</a>
                        </li>
                        <!-- <li>
                            <a href="/blog">blog</a>
                        </li> -->
                        <li>
                            <a href="/gallery">gallery</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="/contact">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <div class="contact-me">
                <div>
                    <div class="left">
                        <ul>
                            <li style="margin: 0.35em 0.5em; font-weight: bold;">
                                <a href="/contact">contact me</a>
                            </li>
                            <li>
                                <a href="mailto:{{ site.email }}"><i aria-hidden="true" class="fa fa-envelope"></i>email</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/{{ site.linked_username }}">
                                    <i aria-hidden="true" class="fa fa-linkedin-square"></i>{{ site.linked_username }}
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/{{ site.github_username }}">
                                    <i aria-hidden="true" class="fa fa-github-alt"></i>{{ site.github_username }}
                                </a>
                            </li>
                            <li>
                                <a href="/feed.xml">
                                    <i aria-hidden="true" class="fa fa-rss-square"></i>RSS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p style="margin: 1em 1em; text-align: center; font-size: small;">
                <i>updated: {{ site.time | date_to_long_string }}</i>
            </p>
        </footer>
    </body>
</html>
