<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Brian Tom's personal website" />
        <meta name="keywords" content="Brian,Tom,about,me,cv,resume,blog,projects" />
        <meta name="author" content="Brian Tom" />
        <title>{{ page.title }} | brian tom</title>
        <!-- wesite icon -->
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="manifest" href="/icons/manifest.json" />
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/icons/favicon.ico" />
        <meta name="msapplication-config" content="/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <!-- main stylesheet -->
        <link async rel="stylesheet" type="text/css" href="/css/main.min.css" />
        <!-- lighbox stylesheet -->
        <link async rel="stylesheet" href="/css/lightbox.min.css" />
        <!-- jQuery -->
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- javascript for lightbox -->
        <script src="/js/lightbox.min.js" async></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img id="logo" src="/icons/android-chrome-192x192.png" alt="bt_logo" /></a></li>
                <li><a href="/">home</a></li>
                <li><a href="/about">about me</a></li>
                <li><a href="/resume">resume</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/gallery">gallery</a></li>
            </ul>
        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li>contact me</li>
                <li><a href="mailto:tombl@uci.edu">{{ author_email }}</a></li>
                <li><a href="tel://+14159289955">+1 (415) 928-9955</a></li>
                <li><a href="https://www.linkedin.com/in/briantom0831">LinkedIn</a></li>
                <li><a href="https://github.com/BTx123">GitHub</a></li>
            </ul>
        </footer>
    </body>
</html>
