<!-- Grab the image CDN parameter -->
{{ $imageCdn := .Site.Params.imageCdn }}
<!-- Grab the gallery JSON data as the first parameter -->
{{ $galleryJson := .Get 0 }}

{{/*  Parse gallery JSON  */}}
{{ $data := dict }}
{{ with .Page.Resources.Get $galleryJson | transform.Unmarshal }}
    {{ $data = . }}
{{ else }}
    {{ errorf "Unable to get page resource %q" $galleryJson }}
{{ end }}

<section class="gallery">
    <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
        {{/*  Grab each image and add to gallery  */}}
        {{ $images := $data.images }}
        {{ range $imageIndex, $imageSlug := $images }}

            {{/*  Rename image to just use image index  */}}
            {{ $imageName := printf "%d" $imageIndex }}

            {{/*  Grab and process images, copying image to gallery directory  */}}
            {{ $url := (delimit (slice $imageCdn $imageSlug) "") }}
            {{ with resources.GetRemote $url | resources.Copy (printf "%s%s%s" $.Page.RelPermalink $imageName (path.Ext $url)) }}
                {{ with .Err }}
                    {{ errorf "%s" . }}
                {{ else }}
                    {{/*  Generate thumbnail image  */}}
                    {{ $thumbnailName := printf "%s_t" $imageName }}
                    {{ $thumbnailPath := printf "%s%s%s" $.Page.RelPermalink $thumbnailName (path.Ext .RelPermalink) }}
                    {{ $thumbnail := .Filter (slice images.AutoOrient (images.Process "fit 600x600")) | resources.Copy $thumbnailPath }}

                    {{/*  Generate caption using EXIF data  */}}
                    {{ $dataTitleParts := slice }}
                    {{ $title := "" }}
                    {{ with .Exif }}
                        {{ if .Tags.ImageDescription }}
                            {{ $dataTitleParts = $dataTitleParts | append (printf "<div style='font-weight: bold;'>%s</div>" .Tags.ImageDescription) }}
                            {{ $title = .Tags.ImageDescription }}
                        {{ end }}
                        {{ $captureMetadata := slice }}
                        {{ if .Tags.ExposureTime }}
                            {{ $captureMetadata = $captureMetadata | append (printf "%ss" .Tags.ExposureTime) }}
                        {{ end }}
                        {{ if .Tags.FNumber }}
                            {{ $fNumber := .Tags.FNumber }}
                            {{/* Compute floating point FNumber in case string representation is fractional */}}
                            {{ if strings.Contains $fNumber "/" }}
                                {{ $fNumberParts := split $fNumber "/" }}
                                {{ if lt ($fNumberParts | len) 2 }}
                                    {{ errorf "Failed to convert FNumber %q from fraction to float" $fNumber }}
                                {{ end }}
                                {{ $numerator := float (collections.Index $fNumberParts 0) }}
                                {{ $denominator := float (collections.Index $fNumberParts 1) }}
                                {{ $fNumber = string (math.Div $numerator $denominator) }}
                            {{ end }}
                            {{ $captureMetadata = $captureMetadata | append (printf "f/%s" $fNumber) }}
                        {{ end }}
                        {{ if .Tags.ISO }}
                            {{ $captureMetadata = $captureMetadata | append (printf "ISO %d" .Tags.ISO) }}
                        {{ end }}
                        {{ if .Tags.FocalLength }}
                            {{ $captureMetadata = $captureMetadata | append (printf "%smm" .Tags.FocalLength) }}
                        {{ end }}
                        {{ if $captureMetadata }}
                            {{ $dataTitleParts = $dataTitleParts | append (printf "<div style='opacity: 0.33'>%s</div>" (delimit $captureMetadata " &#183; ")) }}
                        {{ end }}
                        {{ $cameraMetadata := slice }}
                        {{ if (and (and .Tags.Make .Tags.Model) .Tags.LensModel) }}
                            {{ $cameraMetadata = $cameraMetadata | append (delimit (slice .Tags.Make .Tags.Model) " ") }}
                            {{ $cameraMetadata = $cameraMetadata | append .Tags.LensModel }}
                        {{ end }}
                        {{ if $cameraMetadata }}
                            {{ $dataTitleParts = $dataTitleParts | append (printf "<div style='opacity: 0.33'>%s</div>" (delimit $cameraMetadata " &#183; ")) }}
                        {{ end }}
                    {{ end }}
                    {{ $dataTitle := (delimit $dataTitleParts "") }}

                    {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
                    <a class="gallery-item" href="{{ $url }}" data-pswp-src="{{ $url }}" data-pswp-width="{{ .Width }}" data-pswp-height="{{ .Height }}" title="{{ $title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
                        <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
                            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ $dataTitle }}" />
                        </figure>
                        <meta itemprop="contentUrl" content="{{ $url }}" />
                    </a>
                {{ end }}
            {{ else }}
                {{ errorf "Unable to get remote resource %q" $url }}
            {{ end }}

        {{ end }}
    </div>
</section>

{{/*  Grab generated on timestamp  */}}
{{ $generatedOn := time.AsTime $data.generatedOn | time.Format ":date_full" }}
<div>
    <p>Gallery generated on {{ $generatedOn }}.</p>
</div>
